{
  "apiVersion": "apps/v1",
  "kind": "Deployment",
  "metadata": {
    "labels": {
      "pluggi.fr/budget": "engineering",
      "pluggi.fr/team": "sre"
    },
    "name": "demo-app",
    "namespace": "default"
  },
  "spec": {
    "replicas": 1,
    "selector": {
      "matchLabels": {
        "app": "demo-app"
      }
    },
    "template": {
      "metadata": {
        "labels": {
          "app": "demo-app"
        }
      },
      "spec": {
        "containers": [
          {
            "env": [
              {
                "name": "NODE_NAME",
                "valueFrom": {
                  "fieldRef": {
                    "fieldPath": "spec.nodeName"
                  }
                }
              },
              {
                "name": "POD_IP",
                "valueFrom": {
                  "fieldRef": {
                    "fieldPath": "status.podIP"
                  }
                }
              },
              {
                "name": "KUBE_CLUSTER",
                "value": "k3d-homelab"
              }
            ],
            "image": "nginx:1.25",
            "name": "demo-app",
            "ports": [
              {
                "containerPort": 80,
                "name": "http"
              }
            ]
          }
        ]
      }
    }
  }
}